$primary-color: #ff565b;
$heading-color: #2a2a2a;
$white-color: #ffffff;
$text-color: #7a7a7a;
$border-color: #eeeeee;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.loader {
  background-color: $heading-color;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 222222;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  svg path,
  svg rect {
    fill: $primary-color;
  }
}
