footer.no-margin-footer {
  margin-top: 60px;
}

footer {
  margin-top: 80px;
  text-align: center;
}
@media (min-width: 992px) {
  footer {
    text-align: left;
    margin-top: 120px;
  }
}
footer .about-widget img {
  max-width: 273px;
  margin-bottom: 45px;
}
footer h4 {
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  margin-bottom: 30px;
  margin-top: 45px;
}
@media (min-width: 992px) {
  footer h4 {
    margin-top: 0px;
  }
}
footer ul.info li {
  display: block;
  margin-bottom: 20px;
}
footer ul.info li a {
  font-size: 15px;
  color: #7a7a7a;
  transition: all 0.5s;
}
footer ul.info li a:hover {
  color: #ff565b;
}
footer ul.info li:last-child {
  margin-bottom: 0px;
}
footer ul.social-links li {
  display: block;
  margin-bottom: 20px;
}
footer ul.social-links li a {
  font-size: 15px;
  color: #7a7a7a;
  transition: all 0.5s;
}
footer ul.social-links li a svg {
  margin-right: 3px;
}
footer ul.social-links li a:hover {
  color: #ff565b;
}
footer ul.social-links li:last-child {
  margin-bottom: 0px;
}
footer form#subscribe {
  position: relative;
  margin-bottom: 0px;
}
footer form#subscribe input {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  height: 40px;
  position: relative;
  padding: 0px 10px;
}
footer form#subscribe button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #7a7a7a;
  transition: all 0.5s;
}
footer form#subscribe button:hover {
  color: #ff565b;
}
footer .sub-footer {
  margin-top: 60px;
  padding-bottom: 20px;
}
footer .sub-footer p a {
  color: #ff565b;
}
footer .sub-footer a.scroll-to-top {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  color: #ff565b;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  footer .sub-footer a.scroll-to-top {
    text-align: right;
    color: #7a7a7a;
  }
}
footer .sub-footer a.scroll-to-top svg {
  margin-left: 3px;
}
footer .sub-footer a.scroll-to-top:hover {
  color: #ff565b;
}
