body {
  font-family: "Poppins", sans-serif;
}

.expanded {
  max-width: 1320px;
}
@media (min-width: 768px) {
  .expanded {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    padding: 0px 7%;
  }
}

img {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  display: inline-block;
}

p {
  font-size: 15px;
  line-height: 28px;
  color: #7a7a7a;
}

button.main-button {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  background-color: #ff565b;
  padding: 11px 25px;
  border-radius: 7.5px;
  display: inline-block;
  outline: none;
  border: none;
  transition: all 0.5s;
}
button.main-button:hover {
  background-color: #2a2a2a;
}
